body
{
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	font-size: 15px;
	line-height: 1.5;
	background: #f4f4f4;
	color: #999;
}

header
{
	background: #6b7aa5;
	padding: 25px;
	text-align: center;
	color: #fff;
}
nav ul
{
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: center;
}
nav a
{
	display: block;
	padding: 10px 20px;
	text-decoration: none;
	color: rgba(255,255,255, 0.75);
}
nav a:hover
{
	text-decoration: underline;
}

main
{
	background: #fff;
	padding: 25px;
	margin: 25px auto;
	width: 90%;
	max-width: 700px;
	min-height: 500px;
}
h2, h3
{
	color: #666;
	margin-top: 0;
}
main a
{
	color: #5d73af;
	text-decoration: none;
}
main a:hover
{
	text-decoration: underline;
}

.cards
{
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 15px;
}
.cards li
{
	background: #f8f8f8;
	border: 1px solid #eee;
	padding: 15px;
	margin-bottom: 15px;
}

table 
{
	border-collapse: collapse;
	margin-bottom: 24px;
}
thead {
	border-bottom: 1px solid #d4d4d4;
}
tbody tr {
	border-bottom: 1px solid #e4e4e4;
}
th, td 
{
	padding: 8px;
	vertical-align: top;
}
td:nth-child(2) 
{
	font-size: 85%;
}
td:nth-child(3) 
{
	white-space: nowrap;
}

footer
{
	background: #666;
	padding: 50px;
	text-align: center;
	font-size: 85%;
	color: #ccc;
}
